*{
  margin:0;
  padding:0;
}
.made{
  color: #666
  font-size: 12px
  display: block
  position: absolute
  bottom: 10px
  position: absolute
  width: 90%
  left: 50%
  top: 45%
  bottom: auto
  right: auto
  transform: translateX(-50%) translateY(-50%)
  text-align: center
  a
    color: #000000
    text-decoration: none
  .fa
    color: #E90606
    margin: 0 3px
    font-size: 10px
    animation: pound .35s infinite alternate
    -webkit-animation: pound .35s infinite alternate

@-webkit-keyframes pound
  to
    transform: scale(1.1)


@keyframes pound
  to
    transform: scale(1.1)
}
/*
body{
  font-family:'Dosis', sans-serif;
  font-size: 1.3rem;
  margin:3em;
  background:#fff;
  /*color:#fff;*/
} /*
h2,p{
  font-size:100%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}

ul li{
  margin:1em;
  float:left;
}
ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:20px;
  position: absolute; 
  bottom: 15px; 
  right: 20px;
 }
ul li p{
  font-family:"Reenie Beanie",arial,sans-serif !important;
  font-size:190%;
  display:block;
  position: absolute;
  text-align: left;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}/*
ul li a{
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
/*previously commented out */
/*
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
*/
/*--------------------*/

/* ul li:nth-child(even) a{
	-webkit-transform:rotate(4deg);
  -o-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
	background:#cfc;
}
ul li:nth-child(3n) a{
	-webkit-transform:rotate(-3deg);
  -o-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
	background:#ccf;
}
ul li a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
ul li a{
  text-decoration:none;
  color:#000 !important;
  background:#ffc;
  display:block;
  height:17em;
  width:17em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
/* prebiously commented out */
/*
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
*/